#main {
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
  min-width: 200px;
  color: #333;
}

#main ul {
  margin: 0;
  padding: 0;
}

#main li {
  border: 1px solid #ccc;
  cursor: pointer;
  list-style: none;
  margin: 0 0 5px 0;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

#main li:hover {
  background-color: #f1f1f1;
}

#main .selected:before {
  content: '\2713 ';
}
